#balance {
    float: left;
}
#expense {
    float: right;
}
#budgetInput {
    clear: both;
}
#enter {
    background-color: white;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 6px;
    width: 100px;
    margin: 10px;
    
    
}