.link{
    color: black;
    text-decoration: none;
}

.headLogo{
    
    width: 25%;
   
   
}
#eventIcon{
    margin-left: -24px; 
}

.eventIcon {
    margin-left: -20px;
}
.myEventsBtn{
    text-align: center;
}

