.link{
    color: white;
    text-decoration: none;
}

.headLogo{
    
    width: 250px !important;
    justify-content: center;
   
}
#eventIcon{
    margin-left: -24px; 
}

.eventIcon {
    margin-left: -20px;
}
.myEventsBtn{
    text-align: center;
}

.toolbar{
    background-color: #323e48;
    color: "white",
}